<!DOCTYPE html>
<html>
  <head>
    <title>Twilio Client Screenpop Test</title>
    <link href="//static0.twilio.com/packages/quickstart/client.css"
      type="text/css" rel="stylesheet" />
  </head>
  <body>
    <form method="POST" action="/client">
      <input type="text" name="name" placeholder="Your Name" />
      <input type="submit" value="Log In" />
    </form>
  </body>
</html>